# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
instance/
.media/
staticfiles/
*.mo

# If you are using PostgreSQL
*.pgdata

# Local environment settings
.env
*.env

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Testing
.tox/
.nox/
coverage/
*.cover
*.py,cover

# pipenv
Pipfile
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre ty
